@keyframes slideUp {
    0% {
        opacity: 0%;
        transform: translate(0, 60px);
        box-shadow: 0px 0px 160px 200px #232222;
        filter: saturate(0) blur(5px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 100%;
    }
}

@keyframes blur {
    0% {
        filter: saturate(0) blur(5px);
    }

    100% {
        filter: none;
    }
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes widthGrow {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.input__container {
    animation: widthGrow 2s ease-out;
}

.prompt_event {
    animation: opacity 2s ease-in-out forwards;
}

.btn__input {
    animation: opacity 1s ease-in-out forwards;
}

#hero {
    view-timeline-name: --try__card;
    view-timeline-axis: block;
    
    animation-name: blur;
    animation-timeline: --try__card;
    animation-range: entry 0% cover 80%;
    animation-fill-mode: both;
    animation: opacity 1s ease-in-out forwards;
}