/* ! Navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
}

nav {
    width: 100%;
    height: 80px;
}

.nav__logo img {
    width: 120px;
}

.hamburger__menu {
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.menu__linear {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--off_black);
}

/* ! Hero Section */
.hero__bg {
    height: 720px;
    border-radius: 24px;
    background-image: url("../assets/hero/gradient-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__img img {
    width: 100%;
}

.hero__content p {
    color: var(--dark_mineral);
}

.hero__content h1 {
    max-width: 900px;
}

/* ! Trusted By Section */
.trusted-by p {
    color: var(--calligraphy);
    font-weight: 600;
    font-size: 16px;
}

.trusted-by img {
    max-width: 120px;
}

/* ! About Planar Section */
.about__image {
    width: 100%;
    max-width: 900px;
    border-radius: 24px;
}

/* ! Use cases Section */
.cases img {
    width: 16px;
    margin-right: 8px;
}

.cases__wrapper {
    background-color: var(--dr_white);
    outline: 2px solid var(--coronation);
    border-radius: 64px;
}

.cases {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 64px;
    padding: 12px 24px;
}

.cases__name {
    font-weight: 600;
}

.cases:nth-child(1) {
    background-color: var(--white);
    border: 2px solid var(--coronation);
    color: var(--black);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.05);
}

.cases:nth-child(n+2) {
    color: var(--calligraphy);
}

 .cases__card img {
    border: 2px solid var(--coronation);
    background-color: var(--white);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 4px;
    margin-bottom: 24px;
    height: 42px;
}

.cases__card {
    border: 2px solid var(--coronation);
    height: 440px;
    padding: 32px;
    border-radius: 12px;
}

.cases__card h3 {
    max-width: 240px;
    margin-bottom: 8px;
}

.cases__card p {
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
}

/* ! Features Section */
#features>.grid-row {
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.features__card img {
    width: 100%;
}

.features__card h3 {
    margin-bottom: 8px;
}

.features__card p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
}

.features__card {
    padding: 32px;
    border-radius: 16px;
    background-color: #fff;
    border: 2px solid var(--coronation);
}

.features__wrapper {
    justify-content: space-between;
    gap: 24px;
}

.features__content p {
    max-width: 620px;
}

/* ! Plans */

.plan__card {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 2px solid var(--coronation);
    background-color: var(--white);
    border-radius: 12px;
    padding: 38px;
}

.plan__card.popular {
    border: 2px solid var(--polar_glow);
    background-color: var(--white);
}

.plan__card h3 {
    font-size: 32px;
    font-weight: 500;
}

.plan__card h4 {
    font-size: 32px;
    font-weight: 500;
    margin: 12px 0;
}

.plan__card h5 {
    margin-bottom: 8px;
}

h4 span {
    color: var(--calligraphy);
    vertical-align: text-top;
    font-size: 16px;
    margin-left: 4px;
}

.plan__card ul li::before {
    content: "";
    background-image: url('../assets/icons/check.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    width: 24px;
    height: 24px;
}

.plan__popular {
    background-color: var(--veiling_waterfalls);
    color: var(--maritime_outpost);
    border: 2px solid var(--polar_glow);
    padding: 4px 16px;
    border-radius: 24px;
    width: fit-content;
    position: absolute;
    top: -4%;
    right: 34%;
}

.plan__card ul li {
    margin-top: 4px;
}

/* ! Testimonials Section */
.testimonials__profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials__profile {
    align-items: center;
    gap: 12px;
}

.testimonials__profile p {
    font-size: 12px;
    max-width: 240px;
}

.testimonials__card {
    width: 100%;
    height: fit-content;
    padding: 24px;
    border: 2px solid var(--coronation);
    margin-bottom: 24px;
    border-radius: 16px;
}

.testimonials__card blockquote {
    margin-bottom: 24px;
    color: var(--dark_mineral);
    font-size: 14px;
}

/* ! Get Started Section */
.get__started__bg {
    background-image: url("../assets/get-started/gradient-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
    border-radius: 24px;
}

.get__content p {
    font-size: 16px;
}

/* ! Footer Section */
footer {
    width: 100%;
}

.footer__logo img {
    width: 160px;
}

.footer__social img {
    width: 32px;
}

footer strong {
    font-weight: 500;
    margin-top: 4px;
}

footer ul {
    margin-top: 20px;
}

footer li {
    margin-bottom: 12px;
}

.footer__copyright strong {
    font-size: 14px;
    color: var(--calligraphy);
}