* {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* ! Navigation */

header {
    /* background-color: red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
}

nav {
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.nav__content {
    justify-content: center;
}

.nav__logo img {
    width: 120px;
}

.nav__cta {
    justify-content: flex-end;
    gap: 24px;
}

/* ! Hero Section */

.hero .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/hero/gradient-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 720px;
    border-radius: 24px;
}

.hero__content {
    flex-direction: column;
    align-items: center;
}

.hero__content p {
    color: var(--dark_mineral);
}

.hero__content h1 {
    max-width: 900px;
    margin: 24px;
}

/* ! Trusted By Section */

.trusted-by p {
    color: var(--calligraphy);
    font-weight: 600;
    font-size: 16px;
}

.trusted-by .grid-row {
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.trusted-by img {
    width: 120px;
    max-height: 40px;
}

/* ! About Planar Section */
.about__planar .grid-row {
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.about__image {
    width: 900px;
    border-radius: 24px;
}

/* ! Use cases Section */
.cases img {
    width: 16px;
    margin-right: 8px;
}

.cases__wrapper {
    border: 2px solid var(--coronation);
    background-color: var(--dr_white);
    border-radius: 64px;
    padding: 6px 8px;
    justify-content: space-between;
}

.cases__name {
    font-weight: 600;
}

.cases__wrapper .cases {
    border-radius: 64px;
    display: flex;
    padding: 12px 24px;
    /* ! NOTE */
    align-items: center;
    justify-content: center;
}

.cases__wrapper .cases:nth-child(1) {
    color: var(--black);
    flex-basis: 180px;
    background-color: var(--white);
    border: 2px solid var(--coronation);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.05);
}

.cases__wrapper .cases:nth-child(n+2) {
    color: var(--calligraphy);
}

.cases__content {
    justify-content: space-between;
    gap: 0px;
}

.cases__card img {
    border: 2px solid var(--coronation);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.05);
    background-color: var(--white);
    border-radius: 12px;
    padding: 4px;
    margin-bottom: 24px;
    height: 42px;
}

#use-cases>.cases__content>.cases__card {
    text-align: start;
    padding: 32px;
    border: 2px solid var(--coronation);
    border-radius: 12px;
}

.cases__card h3 {
    width: 240px;
    margin-bottom: 8px;
}

.cases__card p {
    font-size: 14px;
    max-width: 230px;
    font-weight: 400;
}

/* ! Features Section */
#features>.grid-row {
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.features__card img {
    width: 100%;
}

.features__card h3 {
    font-weight: 500;
    margin-bottom: 8px;
}

.features__card p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
}

.features__card {
    padding: 32px;
    border-radius: 16px;
    background-color: #fff;
    border: 2px solid var(--coronation);
}

.features__wrapper {
    justify-content: space-between;
    gap: 24px;
}

.features__content p {
    max-width: 620px;
}

/* ! Plans */

.plan__list {
    justify-content: space-between;
}

.plan__card {
    position: relative;
    flex-direction: column;
    border: 2px solid var(--coronation);
    background-color: var(--white);
    border-radius: 12px;
    padding: 38px;
}

.plan__card:nth-child(3) {
    flex-direction: column;
    border: 2px solid var(--polar_glow);
    background-color: var(--white);
    border-radius: 12px;
}

.plan__card h3 {
    font-size: 32px;
    font-weight: 500;
}

.plan__card h4 {
    font-size: 32px;
    font-weight: 500;
    margin: 12px 0;
}

.plan__card h5 {
    margin-bottom: 8px;
}

h4 span {
    font-size: 16px;
    vertical-align: text-top;
    margin-left: 4px;
    color: var(--calligraphy);
}

.plan__card ul li::before {
    content: "";
    background-image: url('../assets/icons/check.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    width: 24px;
    height: 24px;
}

.plan__popular {
    background-color: var(--veiling_waterfalls);
    width: fit-content;
    padding: 4px 16px;
    border-radius: 24px;
    color: var(--maritime_outpost);
    border: 2px solid var(--polar_glow);
    position: absolute;
    top: -4%;
    left: 35%;
}

.plan__card ul li {
    margin-top: 4px;
}

/* ! Testimonials Section */
.testimonials__profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials__profile {
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.testimonials__profile p {
    font-size: 12px;
    width: 240px;
}

.testimonials__card {
    width: 100%;
    padding: 24px;
    border: 2px solid var(--coronation);
    margin-bottom: 24px;
    border-radius: 16px;
}

.testimonials__card blockquote {
    margin-bottom: 24px;
    color: var(--dark_mineral);
    font-size: 14px;
}

.testimonials__wrapper {
    height: 100%;
    align-items: center;
}

/* ! Get Started Section */

.get-started .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/get-started/gradient-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
    border-radius: 24px;
}


.get__content {
    flex-direction: column;
    align-items: center;
}

.get__content p {
    font-size: 16px;
}

/* ! Footer Section */

.footer__logo {
    flex-direction: column;
    gap: 24px;
}

.footer__logo img {
    width: 160px;
}

.footer__social img {
    width: 32px;
}

footer strong {
    font-weight: 500;
}

footer ul {
    margin-top: 12px;
}

footer li {
    margin-top: 12px;
}

footer.grid-row {
    flex-direction: column;
    justify-content: center;
    gap: 76px;
}

.footer__copyright strong {
    font-size: 14px;
    color: var(--calligraphy);
}