@media (max-width: 1399.98px) {

  /* TODO */
  #use-cases .grid-row {
    justify-content: center;
  }

  #use-cases .grid-row>.col-4 {
    margin-bottom: 32px;
  }


}

@media (max-width: 1199.98px) {

  /* TODO */
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 42px;
  }

  .plan__card h3 {
    font-size: 24px;
  }

  .plan__card h4 {
    font-size: 20px;
  }

  .cases__card {
    width: 100%;
  }

  .cases__card p {
    max-width: 100%;
  }


  .plan__list {
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .plan__popular {
    top: -4%;
    left: 40%;
  }

  #features .card__small {
    margin-bottom: 32px;
  }

  #features .btn {
    margin-top: 0;
  }

  .col-3.col-lg-12.col-xl-6 {
    margin-bottom: 32px;
  }
}

@media (max-width: 991.98px) {

  /* TODO */
  .nav__content {
    display: none;
  }

  .plan__list {
    justify-content: center;
    gap: 24px;
  }

  .testimonials__right,
  .testimonials__left {
    margin-top: 0;
  }

  .plan__popular {
    top: -4%;
    left: 43%;
  }

  footer .grid-row.content-between {
    gap: 32px;
  }
}

@media (max-width: 767.98px) {

  /* TODO */
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }
}

@media (max-width: 575.98px) {

  /* TODO */
  .cases__wrapper {
    border-radius: 24px;
  }

  .plan__popular {
    margin-top: 32px;
    position: static;
  }
}